<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Will</title>
</head>
<body>
    <h1>Mi web Will</h1>
    <ul>
        <li><a href={% url 'home' %}>Home</a></li>
        <li><a href={% url 'portfolio' %}>Portafolio</a></li>
        <li><a href={% url 'contact' %}>Contacto</a></li>
        <li><a href={% url 'aboutme' %}>Acerca de mi</a></li>

    </ul>
    {% block content %}{% endblock  %}
</body>
</html>